body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:47px;
  top:28px;
  width:73px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:60px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:47px;
  top:86px;
  width:131px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:47px;
  top:112px;
  width:118px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:252px;
  top:86px;
  width:145px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:462px;
  top:86px;
  width:117px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:47px;
  top:154px;
  width:502px;
  height:96px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:96px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:47px;
  top:270px;
  width:532px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:60px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:670px;
  top:214px;
  width:14px;
  height:16px;
  color:#33CC00;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:47px;
  top:334px;
  width:691px;
  height:239px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:218px;
  top:0px;
  width:70px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:288px;
  top:0px;
  width:65px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:353px;
  top:0px;
  width:118px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:471px;
  top:0px;
  width:104px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:575px;
  top:0px;
  width:111px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:30px;
  width:218px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:218px;
  top:30px;
  width:70px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:288px;
  top:30px;
  width:65px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:353px;
  top:30px;
  width:118px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:471px;
  top:30px;
  width:104px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:575px;
  top:30px;
  width:111px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:60px;
  width:218px;
  height:83px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:83px;
}
#u44 {
  position:absolute;
  left:2px;
  top:34px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:218px;
  top:60px;
  width:70px;
  height:83px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:83px;
}
#u46 {
  position:absolute;
  left:2px;
  top:34px;
  width:66px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:288px;
  top:60px;
  width:65px;
  height:83px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:83px;
}
#u48 {
  position:absolute;
  left:2px;
  top:34px;
  width:61px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:353px;
  top:60px;
  width:118px;
  height:83px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:83px;
}
#u50 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:471px;
  top:60px;
  width:104px;
  height:83px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:83px;
}
#u52 {
  position:absolute;
  left:2px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:575px;
  top:60px;
  width:111px;
  height:83px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:83px;
}
#u54 {
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:143px;
  width:218px;
  height:91px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:91px;
}
#u56 {
  position:absolute;
  left:2px;
  top:38px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:218px;
  top:143px;
  width:70px;
  height:91px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:91px;
}
#u58 {
  position:absolute;
  left:2px;
  top:38px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:288px;
  top:143px;
  width:65px;
  height:91px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:91px;
}
#u60 {
  position:absolute;
  left:2px;
  top:38px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:353px;
  top:143px;
  width:118px;
  height:91px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:91px;
}
#u62 {
  position:absolute;
  left:2px;
  top:38px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:471px;
  top:143px;
  width:104px;
  height:91px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:91px;
}
#u64 {
  position:absolute;
  left:2px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:575px;
  top:143px;
  width:111px;
  height:91px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:91px;
}
#u66 {
  position:absolute;
  left:2px;
  top:38px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:48px;
  top:400px;
  width:59px;
  height:48px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:48px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:47px;
  top:458px;
  width:85px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:137px;
  top:402px;
  width:107px;
  height:13px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:13px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:110px;
  top:440px;
  width:149px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
