body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:44px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:114px;
  top:41px;
  width:126px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:770px;
  top:35px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:50px;
  top:90px;
  width:775px;
  height:95px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:384px;
  top:0px;
  width:192px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:576px;
  top:0px;
  width:194px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:192px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:192px;
  top:30px;
  width:192px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:384px;
  top:30px;
  width:192px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:576px;
  top:30px;
  width:194px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:60px;
  width:192px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:192px;
  top:60px;
  width:192px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:384px;
  top:60px;
  width:192px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:576px;
  top:60px;
  width:194px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:678px;
  top:123px;
  width:40px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:743px;
  top:123px;
  width:40px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:499px;
  top:40px;
  width:53px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:560px;
  top:36px;
  width:160px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:255px;
  top:42px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:328px;
  top:39px;
  width:161px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
